/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

li {
  list-style: none
}


/* =============================================================================
      My CSS
      ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  text-decoration-color: rgba(255, 255, 255, 1)
}

h2 {
  position: center;
}


canvas {
  display: block;
  vertical-align: bottom;
}

.teksti {
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  font-size: 45px;
}

.teksti .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: 60px;
  background-color: rgba(42, 40, 51, 0.7);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 48%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.teksti .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.teksti:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  transform: translate(-50, 0);
}

.refreshButton {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  background: rgba(51, 51, 51, 0.7);
  border: 2px darkslategrey solid;
  border-radius: 25px;
  top: 50%;
  right: 50%;
}

.refreshButton img {
  position: relative;
  top: 15px;
  left: 15px;
}

.copyIcon {
  position: absolute;
  padding: 50px;
  opacity: 0;
}

.copyIcon img {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.7)
}


.imgPopup {
  position: absolute;
  top: 0%;
  right: 35%;
}

.imgPopup img {
  opacity: 0;
}

/* ---- stats.js ----*/

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
}




.count-particles {
  border-radius: 0 0 3px 3px;
}


/*---- particles.js container ---- */

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #090c14;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
